<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body style="max-width:400px;font-family:Arial,Helvetica,sans-serif;">
    
    <%= image_tag attachments['emailheader.jpg'].url, style: 'width:100%;height:auto' %>
    <h3>Hi <%= "#{@user.firstname} #{@user.lastname}" %>!</h3> 

    <p> Thank you for signing up at <%= link_to ENV['BRAND'], ENV['HOME_URL'], target: "_blank" %>.  A book can tell stories and pass on knowledge.  We believe you love knowing and sharing them.  We hope you would find books you like at <%= ENV['BRAND'] %>.  Don't hesitate to share yours with others.</p>

    <p> <%= ENV['BRAND'] %> connects you and other users just through email.  Your email address will be made known to other users when you indicate that you want their books and/or if you match other users for access to your book. </p>

    <div style="font-style:italic;"><%= render 'reminder' %></div>

  </body>

</html>