
<div class="row userform center-block">

  <%= form_for(:user, url: password_path(:user), html: { method: :put }) do |f| %>

    <h2 class="text-center">Change your password?</h2>
    <%= f.hidden_field :reset_password_token %>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <%= f.password_field :password, placeholder: " New password", required: true, autofocus: true, autocomplete: "off", :class=>"userformcell" %>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <%= f.password_field :password_confirmation, placeholder: " Confirm new password", required: true, autocomplete: "off", :class=>"userformcell" %>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <%= f.submit "Chnage my password", :class=>"btn btn-info btn-block userformbtn" %>
    </div>

  <% end %>
  

</div>
